@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: 
    linear-gradient(to right, rgba(0, 0, 0, 0.7), transparent), 
    url("/intractions.webp");
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  background-attachment: fixed;
}
